<html>
<head>
    <meta charset="UTF-8">
    <title>Community</title>
</head>
<body>
<script>
    alert("감정 분석 AI의 요청 건수가 많아 일시 중단되었습니다. 최대한 빨리 조치하겠습니다.");
    window.location.replace("http://ec2-54-180-152-253.ap-northeast-2.compute.amazonaws.com/community/forum/neutral");
</script>
</body>
</html>