<html>
<head>
    <meta charset="UTF-8">
    <title>Community</title>
</head>
<body>
<script>
    alert("내용을 입력해주세요!");
    window.location.replace("http://ec2-54-180-152-253.ap-northeast-2.compute.amazonaws.com/community/write");
</script>
</body>
</html>