<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/levels.css"/>
    <title>Levels</title>
</head>
<body>
<div id="main-container" class="quicksand">
    {{>part/nav}}
    <div id="levels-container" class="mt-4 mb-4">
        <header class="d-flex justify-content-center mb-4">
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dpad" viewBox="0 0 16 16">
                    <path d="m7.788 2.34-.799 1.278A.25.25 0 0 0 7.201 4h1.598a.25.25 0 0 0 .212-.382l-.799-1.279a.25.25 0 0 0-.424 0Zm0 11.32-.799-1.277A.25.25 0 0 1 7.201 12h1.598a.25.25 0 0 1 .212.383l-.799 1.278a.25.25 0 0 1-.424 0ZM3.617 9.01 2.34 8.213a.25.25 0 0 1 0-.424l1.278-.799A.25.25 0 0 1 4 7.201V8.8a.25.25 0 0 1-.383.212Zm10.043-.798-1.277.799A.25.25 0 0 1 12 8.799V7.2a.25.25 0 0 1 .383-.212l1.278.799a.25.25 0 0 1 0 .424Z"/>
                    <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v3a.5.5 0 0 1-.5.5h-3A1.5 1.5 0 0 0 0 6.5v3A1.5 1.5 0 0 0 1.5 11h3a.5.5 0 0 1 .5.5v3A1.5 1.5 0 0 0 6.5 16h3a1.5 1.5 0 0 0 1.5-1.5v-3a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 0 16 9.5v-3A1.5 1.5 0 0 0 14.5 5h-3a.5.5 0 0 1-.5-.5v-3A1.5 1.5 0 0 0 9.5 0h-3ZM6 1.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3A1.5 1.5 0 0 0 11.5 6h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a1.5 1.5 0 0 0-1.5 1.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-3A1.5 1.5 0 0 0 4.5 10h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 0 6 4.5v-3Z"/>
                </svg>
            </div>
            <div class="text-center fs-1 ms-2">{{title}}</div>
        </header>
        <section class="d-flex justify-content-around">
            <div id="stage">
                <table class="table table-{{table_type}} table-hovered border border-2 border-dark table-bordered text-center">
                    <thead>
                    <tr class="fs-4">
                        <th>Level</th>
                        <th width="25%">Map</th>
                        <th width="40%" colspan="2">Diamond</th>
                        <th width="20%">Difficulty</th>
                    </tr>
                    </thead>
                    <tbody class="fs-5">
                    {{#stageList}}
                        <tr>
                            <td rowspan="4">{{level}}</td>
                            <td rowspan="4">
                                <img src="/static/images/clearlevel{{level}}.png" width="100%">
                            </td>
                            <td style="background-color: #C22B2B;">
                                <img src="/static/images/diamond.png" width="15%">
                                <img src="/static/images/diamond.png" width="15%">
                                <img src="/static/images/diamond.png" width="15%">
                                <img src="/static/images/diamond.png" width="15%">
                            </td>
                            <td width="25%" style="background-color: #F28585;">{{record4}}</td>
                            <td style="background:{{bg_color}};" rowspan="4">{{difficulty}}</td>
                        </tr>
                        <tr>
                            <td style="background-color: #FFD700;">
                                <img src="/static/images/diamond.png" width="15%">
                                <img src="/static/images/diamond.png" width="15%">
                                <img src="/static/images/diamond.png" width="15%">
                            </td>
                            <td width="25%" style="background-color: #f7e47c;">{{record3}}</td>
                        </tr>
                        <tr>
                            <td style="background-color: #C0C0C0;">
                                <img src="/static/images/diamond.png" width="15%">
                                <img src="/static/images/diamond.png" width="15%">
                            </td>
                            <td width="25%" style="background-color: #d9d4d4;">{{record2}}</td>
                        </tr>
                        <tr>
                            <td style="background-color: #CD7F32;">
                                <img src="/static/images/diamond.png" width="15%">
                            </td>
                            <td width="25%" style="background-color: #f5bb82;">{{record1}}</td>
                        </tr>
                    {{/stageList}}
                    </tbody>
                </table>
            </div>
        </section>
        <footer>

        </footer>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>